<!--<falcon-sidebar (toggleSidebar)="toggleSidebar($event)" [isSidebarOpen]="isSidebarOpen">sadasd</falcon-sidebar>-->
<!--<falcon-text-input [name]="'test'"></falcon-text-input>-->
<!--<falcon-dropdown [activeItem]="activeItem">-->
<!--  <div class="dropdown-item" *ngFor="let item of langDropdown" (click)="changeLang(item)">-->
<!--    <img src="{{item.img}}" alt="falcon">-->
<!--    <span>{{item.title}}</span>-->
<!--  </div>-->
<!--</falcon-dropdown>-->
<!--<falcon-popup></falcon-popup>-->

<!--<falcon-checkbox-input [text]="'21'"></falcon-checkbox-input>-->
<ul>
  <li>Sidebar</li>
  <li>Button Toggle</li>
  <li>Slide Toggle</li>
  <li>Popup</li>
  <li>Modal</li>
  <li>Slider</li>
  <li>Range Slider</li>
  <li>Carousel</li>
  <li>Text Input</li>
  <li>Checkbox Input</li>
  <li>Select Input</li>
  <li>Collapse</li>
  <li>Dropdown</li>
  <li>Tabs</li>
  <li>Button</li>
  <li>Progress Button</li>
  <li>Progress Bar</li>
  <li>User Avatar</li>
  <li>Notification</li>
</ul>
