<!--<falcon-sidebar (toggleSidebar)="toggleSidebar($event)" [isSidebarOpen]="isSidebarOpen">sadasd</falcon-sidebar>-->
<!--<button (click)="toggleSidebar(true)">Toggle Sidebar</button>-->
<!--<falcon-button-toggle [activeButtonID]="2" [content]="buttonToggleContent"></falcon-button-toggle>-->
<!--<falcon-slide-toggle (valueChange)="checkValue($event)"></falcon-slide-toggle>-->
<!--<falcon-popup></falcon-popup>-->
<!--<falcon-text-input [name]="'test'"></falcon-text-input>-->
<!--<falcon-dropdown [activeItem]="activeItem">-->
<!--  <div class="dropdown-item" *ngFor="let item of langDropdown" (click)="changeLang(item)">-->
<!--    <img src="{{item.img}}" alt="falcon">-->
<!--    <span>{{item.title}}</span>-->
<!--  </div>-->
<!--</falcon-dropdown>-->
<!--<falcon-checkbox-input [text]="'21'" (valueChange)="checkValue($event)"></falcon-checkbox-input>-->
<!--<falcon-collapse>asdasd</falcon-collapse>-->
<falcon-tabs></falcon-tabs>
<ul>
  <li>Sidebar</li>
  <li>Button Toggle</li>
  <li>Slide Toggle</li>
  <li>Popup</li>
  <li>Modal</li>
  <li>Slider</li>
  <li>Range Slider</li>
  <li>Carousel</li>
  <li>Text Input</li>
  <li>Checkbox Input</li>
  <li>Select Input</li>
  <li>Collapse</li>
  <li>Dropdown</li>
  <li>Tabs</li>
  <li>Button</li>
  <li>Progress Button</li>
  <li>Progress Bar</li>
  <li>User Avatar</li>
  <li>Notification</li>
</ul>
