/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/Mindset/stylesheet.css";
@import "./assets/fonts/Roboto/stylesheet.css";
@import "./assets/fonts/Bungee/stylesheet.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(82, 88, 86, 1);
}

